@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #f3f4f8;
}

.mbsc-timeline-resources,
.mbsc-timeline-row-date {
  width: 70px !important;
  height: 90px !important;
  background: #fbfaff;
}
.mbsc-timeline-row {
  height: 90px !important;
}
.mbsc-timeline-header-date-cont {
  height: 100%;
}
.mbsc-timeline-resource-header-cont {
  width: 70px !important;
  background: #fbfaff !important;
  border-right: none !important;
}
.mbsc-timeline-header-column {
  height: 26px !important;
  width: 70px !important;
  background-color: #fbfaff;
  border-right: none !important;
}
.mbsc-timeline-header-time {
  display: flex;
  align-items: end;
  justify-content: start;
  padding: 0px !important;
}
.mbsc-calendar-wrapper {
  border: none !important;
}
.mbsc-calendar-header {
  background: #fbfaff !important;
  margin-bottom: 0.75rem !important;
}
.mbsc-calendar-controls {
  justify-content: space-between !important;
}
.mbsc-schedule-column.mbsc-rtl,
.mbsc-timeline-column.mbsc-ltr,
.mbsc-timeline-footer-date.mbsc-ltr,
.mbsc-timeline-header-column.mbsc-ltr,
.mbsc-timeline-header-date.mbsc-ltr,
.mbsc-timeline-resource-footer-cont.mbsc-ltr,
.mbsc-timeline-resource-header-cont.mbsc-ltr,
.mbsc-timeline-resource.mbsc-ltr,
.mbsc-timeline-row-date.mbsc-ltr,
.mbsc-timeline-sidebar-footer-cont.mbsc-rtl,
.mbsc-timeline-sidebar-header-cont.mbsc-rtl,
.mbsc-timeline-sidebar-resource.mbsc-rtl,
.mbsc-timeline-slot-header.mbsc-ltr,
.mbsc-timeline-row {
  border-color: #d8e0ed !important;
}

.mbsc-timeline-column {
  background: url("/line.png") no-repeat 25% 45%,
    url("/line.png") no-repeat 50% 45%, url("/line.png") no-repeat 75% 45%;
  background-color: #ffffff;
  background-size: 1px;
}
.mbsc-ios.mbsc-timeline-row:last-child,
.mbsc-ios.mbsc-timeline-row-date:last-child {
  border-bottom: none;
}
.mbsc-timeline-column:last-child {
  border-right: none !important;
}
.mbsc-timeline.mbsc-ios {
  height: 80vh;
}
.mbsc-calendar {
  padding: 4px;
  border-radius: 0.75rem;
}
.mbsc-calendar-header.mbsc-ios {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
.mbsc-schedule-event.mbsc-ios {
  opacity: 0.8;
}

.mbsc-timeline-grid-scroll::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.mbsc-timeline-grid-scroll::-webkit-scrollbar-thumb {
  background: #ff0000;
}
